@font-face {
	font-family: "Alegreya";
	src: url("./fonts/alegreyasanssc-black-webfont.woff2") format("woff2"),
		url("./fonts/alegreyasanssc-black-webfont.woff");
	font-weight: normal;
	font-style: normal;
}

:root {
	--yellow: #ffc92f;
	--red: #d82727;
	--black: #1b1b1b;
	--titlesFont: "Yanone Kaffeesatz", Arial, sans-serif;
}

html,
body {
	height: 100%;
}
.wrapper {
	overflow: hidden;
	min-width: 1310px;
}

body {
	font: 16px / 1.42em "Roboto", Arial, sans-serif;
	color: #212121;
	-webkit-font-smoozing: antialiased;
	-moz-osx-font-smoozing: grayscale;
}

ul {
	margin: 0;
	padding: 0;
}

ul > li {
	list-style: none;
}

.hero-header {
	position: relative;
	height: 100vh;
	min-height: 650px;
	background: url("./images/bg/hero.jpg") center center / cover no-repeat;
	margin-bottom: 130px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1290px;
	margin: 0 auto;
	padding-top: 30px;
}

.mail {
	text-decoration: none;
	text-align: center;
	color: inherit;
}

.mail__title {
	margin-bottom: 3px;
}

.mail__content {
	background: #212121;
	color: var(--yellow);
	font-size: 16px;
	padding: 5px 10px;
}

.hero__content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 1140px;
	height: 70%;
}

.fade-slider {
	width: 100%;
	height: 100%;
}

.fade-slider__item {
	background: url("./images/content/hero/slider_pic_1.png") center center/
		contain no-repeat;
	height: 100%;
}

.fade-slider__text {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-164%, -52%);
}

.lined-text {
	font-family: "Alegreya", Arial, sans-serif;
	color: #fff;
	font-size: 63px;
	text-transform: uppercase;
	line-height: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-164%, -52%);
}

.lined-text__word {
	background: #000;
	padding: 0 17px 8px;
	margin-top: -7px;
}

.lined-text__word--color-yellow {
	color: var(--yellow);
}

.lined-text__word:nth-child(even) {
	margin-left: 8px;
}

.filter {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 100px;
}

.filter__item {
	margin-right: 40px;
}

.filter__item:last-child {
	margin-right: 0;
}

.filter__link {
  font-family: var(--titlesFont);
	text-transform: uppercase;
	padding: 5px 22px;
	color: var(--black);
	font-size: 21px;
	font-weight: bold;
	display: inline-block;
	text-decoration: none;
}

.filter__link:hover {
	color: var(--red);
}

.filter__item--active .filter__link {
	color: var(--yellow);
	background-color:var(--black);
}
